body {
  font-family: "Avenir Next";
  color: #464040;
  text-align: center;
  background-color: #f2870d;
}

li {
  list-style: none;
}

.header {
  background-color: #2d4b58;
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header-logo {
  float: left;
  padding-left: 40px;
  text-decoration: none;
}

.header-list li {
  float: right;
  padding: 20px 20px;
  font-size: 18px;
}

.header-list li a:hover {
  background-color: rgb(224, 125, 11);
  color: white !important;
  transition: all ease 0.4s;
}

.header-list a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#home {
  padding: 50px 50px;
  position: relative;
  box-sizing: border-box;
  background-size: cover;
  background-image: url("images/bg.png");
}

.main {
  margin-top: 15%;
}

.copy-container {
  text-align: justify;
  width: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.copy-container h1 {
  font-size: 50px;
  margin-bottom: 0px;
  letter-spacing: 5px;
  margin-top: 0;

}

.copy-container h2 {
  font-size: 20px;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
  color: wheat;
}

.button {
  background-color: #2d4b58;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.social {
  font-size: 25px;
  letter-spacing: 5px;
  text-align: left;
}

.social i {
  color: rgba(255, 255, 255, 0.89);
}

.social a:hover i {
  color: #2d4b58;
  transition: all ease 0.5s;
}

.about {
  font-size: 28px;
  height: 250px;
  background-color: rgb(244, 244, 244);
  padding-top: 20px;
  padding-bottom: 30px;
}

.about h3 {
  padding-top: 35px;
  padding-bottom: 20px;
}


.about p {
  padding: 0px 150px;
  font-size: 20px;
}

.contents {
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contents h3 {
  font-size: 28px;
  padding-bottom: 20px;
}

.contents-item {
  float: left;
  width: 33.3%;
}

.contents-item img {
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 20px rgba(228, 228, 228, 0.886);
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgb(244, 244, 244);
}

.contact-title {
  font-size: 28px;
  padding-bottom: 20px;
}

input,
textarea {
  width: 800px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 0px;
  background-color: #ffffff;
  border-radius: 15px;
}

::placeholder {
  font-family: "Avenir Next";
  color: #7C7D83;
}

.contact-submit {
  width: 500px;
  background-color: #f7ea8a;
  color: #4f4f4f;
  font-size: 22px;
}

.contact-form p {
  font-size: 20px;
}

.footer {
  background-color: #333335;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  padding-left: 40px;
  text-decoration: none;
}

.footer-list {
  float: right;
  text-align: justify;
}

.footer-list li {
  padding-bottom: 20px;
}

.footer-list a {
  text-decoration: none;
  color: #fff;
}

.footer-copyright a {
  text-decoration: none;
  color: #ffffff;
}
